<div *ngIf="modalService.modal" class="modal" tabindex="-1" style="display:block;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"> {{titulo}} </h5>
        <button (click)="closeModal()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <div class="container">
          <div class="row">
            <div class="col-sm">
              <ul *ngIf="cliente" class="list-group text-dark mb-3">
                <li class="list-group-item">{{ cliente.nombre }}</li>
                <li class="list-group-item">{{ cliente.apellido }}</li>
                <li class="list-group-item">{{ cliente.email }}</li>
                <li class="list-group-item">{{ cliente.createAt }}</li>
                <li class="list-group-item">{{ cliente.region.nombre }}</li>
              </ul>

              <div class="input-group" *ngIf="authService.hasRole('ROLE_ADMIN')">
                <!--      <label class="input-group-text" for="subirFoto">Seleccionar foto</label>-->
                <input (change)="seleccionarFoto($event)" type="file" class="form-control" id="subirFoto" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                <button (click)="subirFoto()" [disabled]="!fotoSeleccionada" class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">Subir</button>
              </div>

              <div *ngIf="progress > 0" class="progress mt-5" style="height: 40px;">
                <div class="progress-bar progress-bar-striped" role="progressbar" [ngStyle]="{'width': progress + '%' }" [attr.aria-valuenow]="progress" aria-valuemin="0" aria-valuemax="100">
                  {{ progress }}%
                </div>
              </div>
            </div>

            <div class="col-sm">
              <img *ngIf="cliente?.foto" src="http://localhost:8080/api/uploads/img/{{ cliente.foto }}" alt="fotoCLiente" class="img-thumbnail rounded">
            </div>
          </div>
        </div>

      </div>

      <div class="modal-footer">
        <button (click)="closeModal()" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


