<button type="button" class="btn btn-primary my-3" (click)="ocultarLista()">Ocultar</button>
<br>
<button type="button" class="btn btn-success my-3" (click)="mostrarLista()">Mostrar</button>
<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            Lista de cursos
        </div>
        <ul class="list-group" *ngIf="habilitar == true">
            <li *ngFor="let curso of listaCursos" class="list-group-item">
                {{curso}}
            </li>
        </ul>
    </div>
</div>