<div class="container mt-5">
<div class="card bg-dark text-white">
  <div class="card-header text-center">{{ titulo }}</div>
  <div class="card-body">
    <form>

      <div class="form-group">
        <div class="col-6">
        <label for="nombre">Nombre :</label>
        <input id="nombre"
               name="nombre"
               type="text" [(ngModel)]="cliente.nombre"
               class="form-control"
               required
               minlength="4"
               #nombre="ngModel"
        >
        </div>
        <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
          <div *ngIf="nombre.errors.required">
            <span class="badge badge-danger text-danger">Nombre es requerido</span>
          </div>
          <div *ngIf="nombre.errors.minlength">
            <span class="badge badge-danger text-danger">Nombre debe tener al menos 4 caracteres</span>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-6">
        <label for="apellido">Apellido :</label>
        <input id="apellido" name="apellido" type="text" [(ngModel)]="cliente.apellido" class="form-control">
        </div>
      </div>

      <div class="form-group">
        <div class="col-6">
        <label for="email">Email :</label>
        <input id="email" name="email" type="text" [(ngModel)]="cliente.email" class="form-control">
        </div>
      </div>
      <br>
      <div class="form-group">
        <div class="col-4">
          <label for="apellido">Fecha :</label>
          <input matInput [matDatepicker]="picker" id="createAt" name="createAt" [(ngModel)]="cliente.createAt" class="form-control" style="display: inline; width: 300px;">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
<!--          <input id="createAt" name="createAt" type="date" [(ngModel)]="cliente.createAt" class="form-control">-->
        </div>
      </div>

      <div class="col-12 mt-5">
          <button class="btn btn-primary btn-block" *ngIf="!cliente.id else elseBlock" (click)="create()">Crear</button>
      </div>

      <ng-template #elseBlock>

        <div class="col-12 mt-5">
          <button class="btn btn-primary btn-block" (click)="update()">Actualizar</button>
        </div>

      </ng-template>


    </form>
  </div>
</div>
</div>
